html, body, ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: sans-serif;
}

main {
  flex: 1 0 auto;
  background: yellowgreen;
  min-height: auto;
}

header a {
  text-decoration: none;
  color: white;
}

header {
  background: #1d1e20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul a {
  display: block;
  padding: 10px;
}

a img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

footer {
  font-size: 0.8rem; 
  align-self: flex-end;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
  margin: 0 auto;
}

section > div {
  max-width: 200px;
  height: 200px;
}